<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="/static/css/tabs-style.css">
    <link rel="stylesheet" href="/static/css/main-style.css">
</head>
<body>
    <nav class="menu">
        <div class="nav-left">
            <h1 class="nav-title">GreenSales</h1> 
           
        </div>
        <div class="nav-right">
            <a href="#">
                <p>{{ current_user.name }}</p>
            </a>
            <a href="{{ url_for('logout') }}">
                <p>-  sair</p>
            </a>
        </div>
    </nav>
    <div class="main-view">
        <div class="tab-row">
            <button class="tab-button" onclick="openTab(event, 'tab-hoje')">Hoje</button>
            <button class="tab-button" onclick="openTab(event, 'tab-pedidos')">Pedidos</button>
            <button class="tab-button" onclick="openTab(event, 'tab-precos')">Preços</button>
            <button class="tab-button" onclick="openTab(event, 'tab-clientes')">Clientes</button>
        </div>
        <div class="tab-content" id="tab-hoje">
            <div>
                <div class="filter-div">
                    <label for="hoje-filter-customer">Cliente&nbsp&nbsp</label>
                    <input class="text-input" type="text" id="hoje-filter-customer" name="trip-start">

                    <label for="hoje-filter-order-num">Pedido&nbsp&nbsp</label>
                    <input class="text-input" type="text" id="hoje-filter-order-num" name="trip-start">

                    <button class="btn btn-light" id="hoje-filter-start-button">Filtrar</button>
                </div>
            </div>
            <div class="table-container">
                <table class="table" id="hoje-table">
                
                </table>
            </div>
              
            <div id="hoje-order-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header-custom">
                        <span class="close" id="today-modal-close">&times;</span>
                        <h2 class="modal-title" id="hoje-order-modal-title">Ver pedido</h2>
                    </div>
                    <div id="hoje-modal-body" class="modal-body">
                        <p>Banana</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer-custom">
                        <h2 id="hoje-modal-total" class="modal-total">Total: 0,00</h2>
                        <button id="hoje-modal-concluir" class="btn btn-light">Enviar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-content" id="tab-pedidos">
            <div>
                <div class="filter-div">
                    <label for="filter-start-date">De&nbsp&nbsp</label>
                    <input class="datepicker" type="date" id="filter-start-date" name="trip-start"
                        value="2018-07-22">
                        <label for="filter-end-date">a&nbsp&nbsp</label>
                    <input class="datepicker" type="date" id="filter-end-date" name="trip-start"
                        value="2018-07-22">

                    <label for="filter-customer">Cliente&nbsp&nbsp</label>
                    <input class="text-input" type="text" id="filter-customer" name="trip-start">

                    <label for="filter-order-num">Pedido&nbsp&nbsp</label>
                    <input class="text-input" type="text" id="filter-order-num" name="trip-start">

                    <button class="btn btn-light" id="filter-start-button">Filtrar</button>
                </div>
            </div>
            <div class="table-container">
                <table class="table" id="pedidos-table">
                
                </table>
            </div>
              
            <div id="order-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header-custom">
                        <span class="close" id="order-modal-close">&times;</span>
                        <h2 class="modal-title" id="order-modal-title">Ver pedido</h2>
                    </div>
                    <div id="modal_body" class="modal-body">
                        <p>Banana</p>
                        <p>Some other text...</p>
                    </div>
                    <div class="modal-footer-custom">
                        <h2 id="modal_total" class="modal-total">Total: 0,00</h2>
                        <button id="modal_concluir" class="btn btn-light">Enviar Pedido</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="tab-precos">
            <h1>Preços</h1>
        </div>

        <div class="tab-content" id="tab-clientes">
            <h1>Outros</h1>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/tabs.js"></script>
    <script src="static/js/util.js"></script>
    <script src="/static/js/adminPanel.js"></script>
    <script src="/static/js/tabToday.js"></script>

</body>
</html>